body{
    font-family:arial, sans-serif;
    font-size: 1em;
    background-color: hsl(0, 0%, 95%);
}
h1  {
    color: hsl(223, 100%, 64%)

}

form    {
    background-color: hsl(0, 0%, 100%);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5 5px 15px hsl(223, 100%, 64%);
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
    border: 1px solid hsl(223, 100%, 64%);
    padding: 5px;
    margin-bottom: 10px;
    
}
label{
    font-size: 1.5em;
    color: hsl(223, 100%, 64%);
    font-weight: bold;
}
button{
    background-color: hsl(0, 100%, 64%);
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
    border: 1px solid hsl(223, 100%, 64%);
    padding: 5px;
    margin: 15px;
    cursor: pointer;
}
button:hover{
    background-color: darkred;

}
#result{
    font-size: 1.5em;
    color: hsl(223, 100%, 64%);
    font-weight: bold;
}